.font-variations {
  font-variation-settings: 'wdth' 130;
  letter-spacing: -0.03em;
}

.step-item {
  @apply relative flex flex-col justify-center items-center w-full;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-200 absolute w-full h-[3px] right-2/4 top-1/3 -translate-y-2/4;
}
.step {
  @apply w-8 h-8 flex items-center justify-center z-10 relative bg-slate-300 rounded-full font-semibold text-white;
}
.active .step {
  @apply bg-primary;
}
.complete .step {
  @apply bg-primary;
}
.complete p {
  @apply text-slate-400;
}
.complete:not(:first-child):before,
.active:not(:first-child):before {
  @apply bg-primary;
}

/* Supprime le focus natif sur les inputs time (notamment celui de shadcn) (Chrome, Safari, Edge) */
input[type='time']:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

/* Classes pour supprimer l'icone horloge par defaut sur l'input time*/
input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}
/* Pour Firefox */
input[type='time']::-moz-focus-inner {
  border: 0;
}
input[type='time']::-moz-focus-outer {
  border: 0;
}
input[type='time']::-ms-clear {
  display: none;
}

/* Classe pour effacer l'outline du composant SelectFilter car tailwind non pris en compte*/
.hide-focus-outline:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera */
  background: transparent;
}
